// Import page-specific CSS files here.
@import "home";
@import "dashboard";

* {
 box-sizing: border-box;
}*:before,
*:after {
 box-sizing: border-box;
}html,
body {
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.map-container {
  width: 40%;
  #map{
    height: 90vh;
    position: sticky;
    top: 10vh;
  }
}
