// Import page-specific CSS files here.
@import "home";

* {
 box-sizing: border-box;
}*:before,
*:after {
 box-sizing: border-box;
}html,
body {
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.map-container {
  width: 200%;
  #map{
    height: 90vh;
    position: sticky;
    top: 10vh;
  }
}

.search__container_horizontal {
  width: 100%;
  margin: 0 20px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .search__input {
    width: 360px;
  }
}
