<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="<%=image_path("human_logo.png")%>">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Become a human</a>
      </li>
      <li class="dropdown">
      <a class="btn btn-ghost" href="#">Account</a>
      <ul class="dropdown-content">
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Log in</a></li>
      </ul>
    </li>
  </ul>
  </div>
</div>
