@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  font-family: "DM Sans", sans-serif;
}

.card-category {
  // margin: 20px;
  background-size: cover;
  background-position: bottom;
  background-size: 120%;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  // border-radius: 10px;
}

.cards-container {
//   display: flex;
//   height: 300px;
//   margin-bottom: 40px;
//   justify-content: space-between;
//   border-radius: 10px;
//  background-size: cover;
//  background-position: center;
background-color: white;
 margin: 20px auto;
 height: fit-content;
 display: flex;
 width: 80vw;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 24px;
 font-weight: bold;
 text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
 border-radius: 10px;
 margin-bottom: 50px;
}


.small-card {
  margin: 10px;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  opacity: 90%;
  border-radius: 5%;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 100%;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.personas {
 display: flex;
 flex-direction: column;
 padding: 0;
}

.persona-card {
  display: flex;
  width: 600px;
  height: 250px;
//  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  border-bottom:0.1px solid rgba(211, 210, 210, 0.544);
  border-top:0.1px solid rgba(211, 210, 210, 0.544);
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;

  a{
   text-decoration: none;
   color: black;
   font-size: 24px;
   font-weight: bold;
  }

  .card-img{
   width: 300px;
   object-fit: cover;
   height: 230px;
   margin: 10px;
   border-radius: 5px;
   background-size: cover;
   background-repeat: no-repeat;
  }
}

.card-info{
  height: inherit;
  width: 600px;
  padding: 10px;
  color: black;
  overflow: hidden;
}
