<div class="container">
  <div class="card">

    <div class="card-image">
			<h2 class="card-heading">
				Leave a review
				<small>How was your experience with humans?</small>
			</h2>
		</div>

    <%= simple_form_for [@booking, @review] do |f| %>

    <div class="form-inputs">
      <%= f.input :rating, required: true %>
      <%= f.input :comment, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Submit" ,class: "action-button" %>
    </div>

  </div>
  <% end %>
</div>
